In [1]:
import geopandas as gpd
from shapely.geometry import Point

# Load the dataset
from geopandas.datasets import get_path

cities = gpd.read_file(get_path('naturalearth_cities'))

/tmp/ipykernel_28524/464501985.py:7: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_cities' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  cities = gpd.read_file(get_path('naturalearth_cities'))

In [2]:
import pandas as pd

In [3]:
countries = pd.read_csv("data/country_info.csv")
countries

                 name code     capital
0             Albania   al      Tirana
1             Armenia   am     Yerevan
2           Australia   au    Canberra
3             Austria   at      Vienna
4          Azerbaijan   az        Baku
5             Belgium   be    Brussels
6             Croatia   hr      Zagreb
7              Cyprus   cy     Nicosia
8             Czechia   cz      Prague
9             Denmark   dk   København
10            Estonia   ee     Tallinn
11            Finland   fi    Helsinki
12             France   fr       Paris
13            Georgia   ge     Tbilisi
14            Germany   de      Berlin
15             Greece   gr      Athens
16            Iceland   is   Reykjavík
17            Ireland   ie      Dublin
18             Israel   il   Jerusalem
19              Italy   it        Rome
20             Latvia   lv        Riga
21          Lithuania   lt     Vilnius
22              Malta   mt    Valletta
23            Moldova   md    Chi?in?u
24        Netherlands   nl   Amsterdam
25             Norway   no        Oslo
26             Poland   pl      Warsaw
27           Portugal   pt      Lisbon
28            Romania   ro   Bucharest
29         San Marino   sm  San Marino
30             Serbia   rs    Belgrade
31           Slovakia   si  Bratislava
32              Spain   es      Madrid
33             Sweden   se   Stockholm
34        Switzerland   ch        Bern
35            Ukraine   ua        Kyiv
36     United Kingdom   gb      London
37  Rest of the world  wld         NaN

In [4]:
# Filter for European capitals (manually or with an additional dataset)
european_capitals = countries["capital"]

european_cities = cities[cities['name'].isin(european_capitals)]

# Reproject to a metric CRS (EPSG:3035)
european_cities = european_cities.to_crs(epsg=3035)

# Compute pairwise distances
distances = european_cities.geometry.apply(
    lambda city: european_cities.distance(city)
)

# Convert distances to a DataFrame for readability
import pandas as pd
distance_df = pd.DataFrame(distances.values.tolist(),
                           index=european_cities['name'],
                           columns=european_cities['name'])
distance_df_km = distance_df / 1000
distance_df_km.head()

name,San Marino,Bratislava,Bern,Reykjavík,Chi?in?u,Vilnius,Riga,Zagreb,Tallinn,Tbilisi,...,Kyiv,Madrid,Stockholm,Amsterdam,Berlin,Athens,Vienna,London,Rome,Paris
name,,,,,,,,,,,,,,,,,,,,,
San Marino,0.000000,592.189117,511.086762,3099.359842,1326.956807,1514.094599,1662.699421,349.805603,1914.409177,2625.451178,...,1544.418564,1387.303070,1753.433237,1088.861755,957.030918,1152.241692,563.123967,1260.407706,225.783903,948.745271
Bratislava,592.189117,0.000000,739.318867,2922.625840,889.218718,923.239099,1087.012101,274.895322,1350.372486,2261.394482,...,1004.274806,1860.351135,1245.520598,985.789892,553.540765,1243.935347,56.224988,1291.093344,784.856524,1092.144862
Bern,511.086762,739.318867,0.000000,2613.292005,1621.684829,1518.674917,1589.307121,668.443283,1795.844146,2983.262618,...,1732.612245,1148.982118,1546.997047,631.984668,755.572555,1655.955050,684.675850,751.759779,685.090392,439.418758
Reykjavík,3099.359842,2922.625840,2613.292005,0.000000,3579.890883,2798.602074,2582.512481,3080.708812,2459.901546,4810.805124,...,3378.262910,2903.247623,2139.417689,2013.258273,2382.413311,4150.844283,2883.413069,1886.004345,3295.703610,2229.303861
Chi?in?u,1326.956807,889.218718,1621.684829,3579.890883,0.000000,891.632377,1156.162476,996.374266,1414.603583,1375.386664,...,402.958789,2701.774139,1547.134580,1814.238083,1264.931856,1091.873708,945.391764,2149.167707,1421.695209,1978.495135

In [5]:
distance_df_km.describe()

name,San Marino,Bratislava,Bern,Reykjavík,Chi?in?u,Vilnius,Riga,Zagreb,Tallinn,Tbilisi,...,Kyiv,Madrid,Stockholm,Amsterdam,Berlin,Athens,Vienna,London,Rome,Paris
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,...,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,1666.731846,1493.586783,1700.543717,3291.086028,1729.467547,1697.705100,1770.929060,1547.220355,1927.893478,2608.044654,...,1770.282489,2502.613623,1866.062544,1762.666181,1558.997452,2010.982789,1494.424378,1964.882596,1772.265992,1861.549755
std,1944.823369,1887.327298,2004.184975,2034.231825,1718.215960,1772.617626,1794.784876,1902.169295,1787.076310,1595.852885,...,1692.115678,2113.992688,1856.353003,2026.720441,1924.957727,1790.149309,1897.968194,2078.519882,1939.258969,2063.884321
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,904.411281,784.856524,739.318867,2382.413311,996.374266,891.632377,847.021272,771.012290,1071.626613,1980.145486,...,1071.626613,1477.798222,1053.894231,916.141838,771.012290,1152.241692,764.104338,1157.103711,921.582379,1028.259319
50%,1305.658896,1087.012101,1351.969654,2903.247623,1421.695209,1472.312868,1458.470248,1125.034383,1675.777051,2456.172090,...,1491.580339,2070.942588,1546.997047,1371.664618,1040.353793,1816.268404,1055.048057,1578.485825,1421.695209,1448.443265
75%,1889.128947,1737.035689,1732.612245,3662.987302,1814.238083,2056.138993,2233.834856,1705.401383,2402.607575,3065.049623,...,1840.105001,2864.578659,2405.404678,1855.412523,1843.826130,2382.618978,1685.093285,2092.191809,1975.409446,1978.495135
max,12263.769177,11801.774379,12539.566033,13413.100915,10942.552079,11162.566740,11237.550563,11938.925902,11206.257690,9678.622477,...,10811.680077,13644.326045,11584.829782,12533.521711,11969.525694,11503.216179,11855.583155,12891.318423,12325.732706,12830.105202

In [6]:
len(european_capitals), len(european_cities)

(38, 37)

In [7]:
set(european_capitals) - set(european_cities["name"])

{nan}

In [8]:
# distance_df_km.to_csv("data/distances.csv")
# distance_df_km = pd.read_csv("data/distances.csv")

In [9]:
votes_df = pd.read_csv("data/votes.csv")

In [10]:
distance_df_km.head()

name,San Marino,Bratislava,Bern,Reykjavík,Chi?in?u,Vilnius,Riga,Zagreb,Tallinn,Tbilisi,...,Kyiv,Madrid,Stockholm,Amsterdam,Berlin,Athens,Vienna,London,Rome,Paris
name,,,,,,,,,,,,,,,,,,,,,
San Marino,0.000000,592.189117,511.086762,3099.359842,1326.956807,1514.094599,1662.699421,349.805603,1914.409177,2625.451178,...,1544.418564,1387.303070,1753.433237,1088.861755,957.030918,1152.241692,563.123967,1260.407706,225.783903,948.745271
Bratislava,592.189117,0.000000,739.318867,2922.625840,889.218718,923.239099,1087.012101,274.895322,1350.372486,2261.394482,...,1004.274806,1860.351135,1245.520598,985.789892,553.540765,1243.935347,56.224988,1291.093344,784.856524,1092.144862
Bern,511.086762,739.318867,0.000000,2613.292005,1621.684829,1518.674917,1589.307121,668.443283,1795.844146,2983.262618,...,1732.612245,1148.982118,1546.997047,631.984668,755.572555,1655.955050,684.675850,751.759779,685.090392,439.418758
Reykjavík,3099.359842,2922.625840,2613.292005,0.000000,3579.890883,2798.602074,2582.512481,3080.708812,2459.901546,4810.805124,...,3378.262910,2903.247623,2139.417689,2013.258273,2382.413311,4150.844283,2883.413069,1886.004345,3295.703610,2229.303861
Chi?in?u,1326.956807,889.218718,1621.684829,3579.890883,0.000000,891.632377,1156.162476,996.374266,1414.603583,1375.386664,...,402.958789,2701.774139,1547.134580,1814.238083,1264.931856,1091.873708,945.391764,2149.167707,1421.695209,1978.495135

In [11]:
distance_df_km.stack()

name        name
San Marino  San Marino       0.000000
            Bratislava     592.189117
            Bern           511.086762
            Reykjavík     3099.359842
            Chi?in?u      1326.956807
                             ...
Paris       Athens        2095.307785
            Vienna        1036.040752
            London         343.348168
            Rome          1106.651465
            Paris            0.000000
Length: 1369, dtype: float64

In [12]:
distance_df_km.stack().index

MultiIndex([('San Marino', 'San Marino'),
            ('San Marino', 'Bratislava'),
            ('San Marino',       'Bern'),
            ('San Marino',  'Reykjavík'),
            ('San Marino',   'Chi?in?u'),
            ('San Marino',    'Vilnius'),
            ('San Marino',       'Riga'),
            ('San Marino',     'Zagreb'),
            ('San Marino',    'Tallinn'),
            ('San Marino',    'Tbilisi'),
            ...
            (     'Paris',       'Kyiv'),
            (     'Paris',     'Madrid'),
            (     'Paris',  'Stockholm'),
            (     'Paris',  'Amsterdam'),
            (     'Paris',     'Berlin'),
            (     'Paris',     'Athens'),
            (     'Paris',     'Vienna'),
            (     'Paris',     'London'),
            (     'Paris',       'Rome'),
            (     'Paris',      'Paris')],
           names=['name', 'name'], length=1369)

In [13]:
distance_df_km.merge(countries, left_on='name', right_on='capital')

,San Marino,Bratislava,Bern,Reykjavík,Chi?in?u,Vilnius,Riga,Zagreb,Tallinn,Tbilisi,...,Amsterdam,Berlin,Athens,Vienna,London,Rome,Paris,name,code,capital
0,0.000000,592.189117,511.086762,3099.359842,1326.956807,1514.094599,1662.699421,349.805603,1914.409177,2625.451178,...,1088.861755,957.030918,1152.241692,563.123967,1260.407706,225.783903,948.745271,San Marino,sm,San Marino
1,592.189117,0.000000,739.318867,2922.625840,889.218718,923.239099,1087.012101,274.895322,1350.372486,2261.394482,...,985.789892,553.540765,1243.935347,56.224988,1291.093344,784.856524,1092.144862,Slovakia,si,Bratislava
2,511.086762,739.318867,0.000000,2613.292005,1621.684829,1518.674917,1589.307121,668.443283,1795.844146,2983.262618,...,631.984668,755.572555,1655.955050,684.675850,751.759779,685.090392,439.418758,Switzerland,ch,Bern
3,3099.359842,2922.625840,2613.292005,0.000000,3579.890883,2798.602074,2582.512481,3080.708812,2459.901546,4810.805124,...,2013.258273,2382.413311,4150.844283,2883.413069,1886.004345,3295.703610,2229.303861,Iceland,is,Reykjavík
4,1326.956807,889.218718,1621.684829,3579.890883,0.000000,891.632377,1156.162476,996.374266,1414.603583,1375.386664,...,1814.238083,1264.931856,1091.873708,945.391764,2149.167707,1421.695209,1978.495135,Moldova,md,Chi?in?u
5,1514.094599,923.239099,1518.674917,2798.602074,891.632377,0.000000,264.545275,1189.792954,531.746768,2012.697237,...,1371.664618,822.264933,1862.153491,951.400649,1728.899201,1706.494255,1701.232398,Lithuania,lt,Vilnius
6,1662.699421,1087.012101,1589.307121,2582.512481,1156.162476,264.545275,0.000000,1361.317888,279.329447,2233.834856,...,1333.253047,844.476669,2110.236995,1104.441147,1679.924406,1868.540744,1705.373902,Latvia,lv,Riga
7,349.805603,274.895322,668.443283,3080.708812,996.374266,1189.792954,1361.317888,0.000000,1625.266376,2330.435337,...,1086.838530,771.012290,1072.148739,268.443816,1342.062974,517.851289,1084.685310,Croatia,hr,Zagreb
8,1914.409177,1350.372486,1795.844146,2459.901546,1414.603583,531.746768,279.329447,1625.266376,0.000000,2402.607575,...,1458.955214,1040.353793,2388.542702,1363.411277,1786.070808,2125.536396,1859.284732,Estonia,ee,Tallinn
9,2625.451178,2261.394482,2983.262618,4810.805124,1375.386664,2012.697237,2233.834856,2330.435337,2402.607575,0.000000,...,3179.611828,2615.149578,1853.355581,2317.606287,3520.755536,2660.498591,3352.891278,Georgia,ge,Tbilisi
10,648.033571,449.560449,1034.707797,3371.800229,695.681001,1153.194324,1375.187312,366.355859,1653.422314,1980.145486,...,1414.342149,1000.174032,801.767861,489.015323,1693.153915,726.021128,1448.443265,Serbia,rs,Belgrade
11,670.212784,785.674543,1164.562733,3662.987302,963.340890,1542.369873,1766.616816,582.563540,2044.862442,2071.792332,...,1662.806067,1333.628210,496.597538,808.975149,1893.007274,616.307492,1603.174181,Albania,al,Tirana
12,2654.058390,2323.049542,3033.353592,4933.321015,1447.457353,2135.321592,2364.204889,2372.707767,2543.198606,175.544667,...,3260.823815,2703.414823,1816.268404,2379.033971,3596.479967,2674.391187,3414.865150,Armenia,am,Yerevan
13,3065.708326,2694.435434,3419.946158,5171.866859,1805.986811,2385.205851,2589.443924,2769.448642,2732.477680,440.264415,...,3598.689699,3029.324638,2267.564087,2750.657526,3943.612925,3099.608044,3784.445365,Azerbaijan,az,Baku
14,12263.769177,11801.774379,12539.566033,13413.100915,10942.552079,11162.566740,11237.550563,11938.925902,11206.257690,9678.622477,...,12533.521711,11969.525694,11503.216179,11855.583155,12891.318423,12325.732706,12830.105202,Australia,au,Canberra
15,904.411281,1373.678111,1351.969654,3963.648253,1722.369878,2247.433786,2446.483502,1102.293941,2717.414079,2706.562197,...,1973.668265,1843.826130,860.718231,1370.657917,2085.276254,684.292893,1746.087820,Malta,mt,Valletta
16,2380.599913,2345.757692,2873.831510,5255.519247,1758.174912,2648.591805,2912.776850,2244.048790,3163.987986,1428.566372,...,3319.748588,2873.724343,1236.909834,2390.711552,3585.614527,2289.916310,3310.570599,Israel,il,Jerusalem
17,2024.462027,1951.545097,2506.491231,4854.943763,1359.016671,2250.481357,2514.938628,1863.556875,2769.378345,1257.915449,...,2930.569420,2474.209894,911.858482,1997.866422,3205.230414,1954.070264,2939.793520,Cyprus,cy,Nicosia
18,1093.173472,802.371327,1472.845574,3669.805624,359.616440,1144.139254,1402.409529,807.160780,1675.777051,1532.522296,...,1786.159534,1293.819893,745.116436,854.998534,2092.191809,1144.480960,1872.631960,Romania,ro,Bucharest
19,1889.128947,2348.156665,1622.214131,2968.230973,3199.744561,3117.994184,3145.568558,2203.686207,3304.606260,4513.758885,...,1855.412523,2306.345222,2869.577320,2296.179097,1578.485825,1868.280838,1445.418274,Portugal,pt,Lisbon
20,1780.585752,1373.023102,1462.035904,1746.235813,1861.886779,1052.466360,847.021272,1608.540043,789.390320,3065.049623,...,916.141838,838.945439,2601.928494,1353.489212,1157.103711,2006.193808,1343.899119,Norway,no,Oslo
21,1120.639738,532.530651,1141.036565,2770.502186,809.597581,395.189277,562.326332,803.932284,835.178008,2116.044462,...,1095.251831,518.315251,1594.959219,557.519546,1451.389745,1317.386380,1369.355554,Poland,pl,Warsaw
22,1721.506523,1737.035689,1210.946605,1492.983959,2571.928818,2056.138993,1958.904487,1803.798116,2008.580355,3933.301087,...,758.568218,1319.297589,2853.514516,1685.093285,464.364579,1888.179290,782.137412,Ireland,ie,Dublin
23,699.815710,291.421437,622.997781,2631.611682,1114.363266,898.654216,995.112740,490.646938,1229.575425,2487.921199,...,709.738874,280.365367,1528.569986,252.843955,1035.183687,921.582379,884.283687,Czechia,cz,Prague
24,1989.753875,1428.909131,1860.094048,2428.659299,1492.060611,612.387440,361.447590,1703.754536,82.118242,2456.172090,...,1503.681105,1104.700077,2470.415060,1440.945289,1824.123130,2202.072309,1909.838411,Finland,fi,Helsinki
25,1305.658896,894.188176,1036.744036,2102.307643,1482.011305,818.453086,726.227791,1125.034383,836.260106,2774.696679,...,622.797257,355.611123,2131.999682,871.969165,957.824912,1531.411715,1028.259319,Denmark,dk,København
26,980.157344,971.601249,492.811168,2123.090704,1834.938719,1472.312868,1458.470248,1028.746039,1602.478022,3208.636497,...,173.572993,654.158840,2086.272340,917.864176,319.693098,1172.615217,261.801329,Belgium,be,Brussels
27,1544.418564,1004.274806,1732.612245,3378.262910,402.958789,589.835301,841.079154,1195.163087,1071.626613,1445.352765,...,1781.964858,1205.491676,1491.580339,1055.048057,2135.963893,1681.327714,2026.149307,Ukraine,ua,Kyiv
28,1387.303070,1860.351135,1148.982118,2903.247623,2701.774139,2663.071621,2711.687376,1705.401383,2890.618900,4011.547068,...,1477.798222,1867.258581,2382.618978,1809.734968,1262.195241,1368.444207,1050.111422,Spain,es,Madrid
29,1753.433237,1245.520598,1546.997047,2139.417689,1547.134580,680.145947,443.949695,1511.305227,378.614216,2677.492412,...,1127.835654,810.110495,2405.404678,1242.988059,1436.008938,1975.409446,1545.117967,Sweden,se,Stockholm
30,1088.861755,985.789892,631.984668,2013.258273,1814.238083,1371.664618,1333.253047,1086.838530,1458.955214,3179.611828,...,0.000000,576.965942,2157.203125,935.926496,358.566224,1293.627297,428.811085,Netherlands,nl,Amsterdam
31,957.030918,553.540765,755.572555,2382.413311,1264.931856,822.264933,844.476669,771.012290,1040.353793,2615.149578,...,576.965942,0.000000,1797.463020,524.812724,933.332847,1182.219892,879.117320,Germany,de,Berlin
32,1152.241692,1243.935347,1655.955050,4150.844283,1091.873708,1862.153491,2110.236995,1072.148739,2388.542702,1853.355581,...,2157.203125,1797.463020,0.000000,1276.017954,2389.155356,1053.070692,2095.307785,Greece,gr,Athens
33,563.123967,56.224988,684.675850,2883.413069,945.391764,951.400649,1104.441147,268.443816,1363.411277,2317.606287,...,935.926496,524.812724,1276.017954,0.000000,1237.492544,764.104338,1036.040752,Austria,at,Vienna
34,1260.407706,1291.093344,751.759779,1886.004345,2149.167707,1728.899201,1679.924406,1342.062974,1786.070808,3520.755536,...,358.566224,933.332847,2389.155356,1237.492544,0.000000,1434.392822,343.348168,United Kingdom,gb,London
35,225.783903,784.856524,685.090392,3295.703610,1421.695209,1706.494255,1868.540744,517.851289,2125.536396,2660.498591,...,1293.627297,1182.219892,1053.070692,764.104338,1434.392822,0.000000,1106.651465,Italy,it,Rome
36,948.745271,1092.144862,439.418758,2229.303861,1978.495135,1701.232398,1705.373902,1084.685310,1859.284732,3352.891278,...,428.811085,879.117320,2095.307785,1036.040752,343.348168,1106.651465,0.000000,France,fr,Paris

In [42]:
distance_stack = distance_df_km.stack().rename("distance").to_frame()
distance_stack.index = distance_stack.index.rename(["from", "to"])
distance_stack = distance_stack.reset_index()
distance_stack

            from          to     distance
0     San Marino  San Marino     0.000000
1     San Marino  Bratislava   592.189117
2     San Marino        Bern   511.086762
3     San Marino   Reykjavík  3099.359842
4     San Marino    Chi?in?u  1326.956807
...          ...         ...          ...
1364       Paris      Athens  2095.307785
1365       Paris      Vienna  1036.040752
1366       Paris      London   343.348168
1367       Paris        Rome  1106.651465
1368       Paris       Paris     0.000000

[1369 rows x 3 columns]

In [50]:
joined_df = countries.merge(distance_stack, left_on="capital", right_on="from")
joined_df["from_id"] = joined_df["code"]
joined_df = joined_df[["from_id", "to", "distance"]]
joined_df = countries.merge(joined_df, left_on="capital", right_on="to")
joined_df["to_id"] = joined_df["code"]
joined_df = joined_df[["from_id", "to_id", "distance"]]
joined_df

     from_id to_id      distance
0         al    al      0.000000
1         am    al   2073.730122
2         au    al  11749.333159
3         at    al    808.975149
4         az    al   2507.648698
...      ...   ...           ...
1364      es    gb   1262.195241
1365      se    gb   1436.008938
1366      ch    gb    751.759779
1367      ua    gb   2135.963893
1368      gb    gb      0.000000

[1369 rows x 3 columns]

In [55]:
votes_merged = votes_df.merge(joined_df, left_on=["from_country_id", "to_country_id"], right_on=["from_id", "to_id"], how="left")
votes_merged = votes_merged.drop(["from_id", "to_id", "from_country", "to_country"], axis=1)
votes_merged

,year,round,from_country_id,to_country_id,total_points,tele_points,jury_points,distance
0,1957,final,at,nl,6,NaN,NaN,935.926496
1,1957,final,at,fr,0,NaN,NaN,1036.040752
2,1957,final,at,dk,0,NaN,NaN,871.969165
3,1957,final,at,lu,3,NaN,NaN,NaN
4,1957,final,at,de,0,NaN,NaN,524.812724
...,...,...,...,...,...,...,...,...
51349,2023,final,wld,al,6,6.0,NaN,NaN
51350,2023,final,wld,pt,0,0.0,NaN,NaN
51351,2023,final,wld,rs,0,0.0,NaN,NaN
51352,2023,final,wld,gb,0,0.0,NaN,NaN
51353,2023,final,wld,de,0,0.0,NaN,NaN

In [56]:
votes_merged.to_csv("data/vote_distances.csv")