# Data Processing

## Data Summary
- Eurovision votes - votes.csv
    - Eurovisionworld fan website
    - ISO alpha-2 country codes
- Country codes
    - TODO: Find dataset
    - Can webscrape from official [ISO website](https://www.iso.org/obp/ui/#search)
    - Made country_codes_raw.csv from copy-pasting
    - Need ISO alpha-2 and ISO alpha-3
- Country capitals
    - TODO: Find dataset
- Religious demographic data
    - WRP_national.csv
    - ISO alpha-3 country codes
- GDP data
    - World_Bank_Data.csv
    - ISO alpha-3 country codes

# Utilities
- TODO: Move to .py files?

In [4]:
import pandas as pd

## Clean Country Codes Data

In [5]:
codes_raw = pd.read_csv("../data/country_codes_raw.csv")
codes_raw.head()

            name_fr iso-alpha-2 iso-alpha-3  numeric
0  Afghanistan (l')          AF         AFG      4.0
1               NaN         NaN         NaN      NaN
2      Albanie (l')          AL         ALB      8.0
3               NaN         NaN         NaN      NaN
4      Algérie (l')          DZ         DZA     12.0

In [9]:
def get_clean_codes(codes_raw):
    codes = codes_raw.dropna()
    codes = codes[["iso-alpha-2", "iso-alpha-3"]]
    codes["iso-alpha-2"] = codes["iso-alpha-2"].str.lower()
    return codes

In [10]:
country_codes = get_clean_codes(codes_raw)
country_codes.head()

  iso-alpha-2 iso-alpha-3
0          af         AFG
2          al         ALB
4          dz         DZA
6          as         ASM
8          ad         AND

In [11]:
countries = pd.read_csv("../data/country_info.csv")
countries.head()

         name code   capital
0     Albania   al    Tirana
1     Armenia   am   Yerevan
2   Australia   au  Canberra
3     Austria   at    Vienna
4  Azerbaijan   az      Baku

In [14]:
merged_countries = countries.merge(country_codes, left_on="code", right_on="iso-alpha-2")
merged_countries = merged_countries.drop("code", axis=1)
merged_countries.head()

         name   capital iso-alpha-2 iso-alpha-3
0     Albania    Tirana          al         ALB
1     Armenia   Yerevan          am         ARM
2   Australia  Canberra          au         AUS
3     Austria    Vienna          at         AUT
4  Azerbaijan      Baku          az         AZE