In [1]:
import geopandas as gpd
from shapely.geometry import Point

# Load the dataset
from geopandas.datasets import get_path

In [2]:
import pandas as pd

In [36]:
countries = pd.read_csv("../data/country_info.csv")
countries

                      name code           capital
0                  Albania   al            Tirana
1                  Armenia   am           Yerevan
2                Australia   au          Canberra
3                  Austria   at            Vienna
4               Azerbaijan   az              Baku
5                  Belgium   be          Brussels
6                  Croatia   hr            Zagreb
7                   Cyprus   cy           Nicosia
8                  Czechia   cz            Prague
9                  Denmark   dk         København
10                 Estonia   ee           Tallinn
11                 Finland   fi          Helsinki
12                  France   fr             Paris
13                 Georgia   ge           Tbilisi
14                 Germany   de            Berlin
15                  Greece   gr            Athens
16                 Iceland   is         Reykjavík
17                 Ireland   ie            Dublin
18                  Israel   il         Jerusalem
19                   Italy   it              Rome
20                  Latvia   lv              Riga
21               Lithuania   lt           Vilnius
22                   Malta   mt          Valletta
23                 Moldova   md          Chi?in?u
24             Netherlands   nl         Amsterdam
25                  Norway   no              Oslo
26                  Poland   pl            Warsaw
27                Portugal   pt            Lisbon
28                 Romania   ro         Bucharest
29              San Marino   sm        San Marino
30                  Serbia   rs          Belgrade
31                Slovenia   si         Ljubljana
32                   Spain   es            Madrid
33                  Sweden   se         Stockholm
34             Switzerland   ch              Bern
35                 Ukraine   ua              Kyiv
36          United Kingdom   gb            London
37       Rest of the world  wld               NaN
38                 Andorra   ad  Andorra la Vella
39  Bosnia and Herzegovina   ba          Sarajevo
40                Bulgaria   bg             Sofia
41                 Belarus   by             Minsk
42   Serbia and Montenegro   cs          Belgrade
43                 Hungary   hu          Budapest
44              Luxembourg   lu        Luxembourg
45                 Morocco   ma             Rabat
46                  Monaco   mc            Monaco
47         North Macedonia   mk            Skopje
48              Montenegro   me         Podgorica
49                  Russia   ru            Moscow
50                Slovakia   sk        Bratislava
51                 Turkiye   tr            Ankara
52              Yugoslavia   yu          Belgrade

In [21]:
votes_df = pd.read_csv("../data/vote_distances.csv")

gdp_per_capita = pd.read_csv("../data/gdp_per_capita.csv").dropna()
gdp_per_capita = gdp_per_capita[gdp_per_capita["Series Name"] == "GDP per capita (current US$)"] 
year_cols = ["2019 [YR2019]","2020 [YR2020]","2021 [YR2021]","2022 [YR2022]","2023 [YR2023]"]
for col in year_cols:
    gdp_per_capita[col] = pd.to_numeric(gdp_per_capita[col], errors='coerce').dropna()


gdp_per_capita

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
4700,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,5460.428237,5370.778623,6413.283286,6846.426143,8575.171134
4701,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,41257.804585,37361.090067,42425.699676,42414.059009,46812.448449
4702,GDP per capita (current US$),NY.GDP.PCAP.CD,Armenia,ARM,4597.228874,4268.680933,4685.179971,6571.974455,8053.010663
4703,GDP per capita (current US$),NY.GDP.PCAP.CD,Australia,AUS,54972.701789,51791.540180,60607.778861,64997.013654,64820.911789
4704,GDP per capita (current US$),NY.GDP.PCAP.CD,Austria,AUT,49885.994736,48716.409890,53648.719074,52176.664914,56033.573792
...,...,...,...,...,...,...,...,...,...
4795,GDP per capita (current US$),NY.GDP.PCAP.CD,Ukraine,UKR,3619.861572,3709.769287,4775.945801,4199.670898,5069.703125
4796,GDP per capita (current US$),NY.GDP.PCAP.CD,United Kingdom,GBR,42662.535374,40201.681242,46896.866243,45935.927647,49463.855462
4797,GDP per capita (current US$),NY.GDP.PCAP.CD,United States,USA,65604.681520,64411.373178,71318.307359,78035.175360,82769.412211
4798,GDP per capita (current US$),NY.GDP.PCAP.CD,Norway,NOR,76430.588947,68340.018103,93072.892512,108798.451166,87925.094419
4799,GDP per capita (current US$),NY.GDP.PCAP.CD,Slovenia,SVN,25814.168717,25392.065109,29187.369383,28373.838227,32610.110923

In [25]:
gdp_per_capita = gdp_per_capita.rename(columns={"Country Name": "country"})
gdp_per_capita["average gdp per capita"] = gdp_per_capita[year_cols].mean(axis=1)

KeyError: "None of [Index(['2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]',\n       '2023 [YR2023]'],\n      dtype='object')] are in the [columns]"

In [38]:
gdp_per_capita = gdp_per_capita[["country", "average gdp per capita"]]

gdp_per_capita.head()
gdp_per_capita.loc[gdp_per_capita["country"] == "Russian Federation", "country"] = "Russia"
filtered_gdp_per_capita = gdp_per_capita[gdp_per_capita["country"].isin(countries["name"])]

# Display the filtered DataFrame
print(filtered_gdp_per_capita)

                     country  average gdp per capita
4700                 Albania             6533.217485
4701                 Andorra            42054.220357
4702                 Armenia             5635.214979
4703               Australia            59437.989254
4704                 Austria            52092.272481
4705              Azerbaijan             5868.042505
4707                 Belarus             7338.810601
4708                 Belgium            49957.362538
4709  Bosnia and Herzegovina             7168.458183
4717                 Croatia            17698.752213
4718                  Cyprus            32515.344922
4719                 Czechia            27021.094649
4720                 Denmark            65332.587659
4727                 Estonia            26898.692668
4729                 Finland            50730.033153
4730                  France            41815.398376
4732                 Georgia             5827.852688
4733                 Germany            50259.725386
4735                  Greece            20449.871274
4743                 Hungary            18433.687073
4744                 Iceland            70350.550163
4745                 Ireland            97143.854920
4747                  Israel            49729.873866
4748                   Italy            35479.175649
4756                  Latvia            19570.871011
4758              Luxembourg           123405.563253
4759         North Macedonia             7445.957776
4760                   Malta            35754.889271
4764                 Moldova             5304.711300
4765                  Monaco           215418.910635
4766              Montenegro             9673.580597
4767                 Morocco             3557.781348
4768             Netherlands            58172.028219
4772                  Poland            18289.097239
4773                Portugal            24461.189472
4774                 Romania            15004.654894
4775                  Russia            12667.967773
4777              San Marino            49871.802974
4779                  Serbia             9567.869045
4786                   Spain            30324.124511
4790                  Sweden            55283.108939
4791             Switzerland            91255.331011
4793                 Turkiye            10275.511008
4795                 Ukraine             4274.990137
4796          United Kingdom            45032.173194
4798                  Norway            86913.409029
4799                Slovenia            28275.510472

In [40]:
filtered_gdp_per_capita["country"] = filtered_gdp_per_capita["country"].replace(
    dict(zip(countries["name"], countries["code"])))

filtered_gdp_per_capita

C:\Users\Valentin\AppData\Local\Temp\ipykernel_2896\2515068596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_gdp_per_capita["country"] = filtered_gdp_per_capita["country"].replace(

     country  average gdp per capita
4700      al             6533.217485
4701      ad            42054.220357
4702      am             5635.214979
4703      au            59437.989254
4704      at            52092.272481
4705      az             5868.042505
4707      by             7338.810601
4708      be            49957.362538
4709      ba             7168.458183
4717      hr            17698.752213
4718      cy            32515.344922
4719      cz            27021.094649
4720      dk            65332.587659
4727      ee            26898.692668
4729      fi            50730.033153
4730      fr            41815.398376
4732      ge             5827.852688
4733      de            50259.725386
4735      gr            20449.871274
4743      hu            18433.687073
4744      is            70350.550163
4745      ie            97143.854920
4747      il            49729.873866
4748      it            35479.175649
4756      lv            19570.871011
4758      lu           123405.563253
4759      mk             7445.957776
4760      mt            35754.889271
4764      md             5304.711300
4765      mc           215418.910635
4766      me             9673.580597
4767      ma             3557.781348
4768      nl            58172.028219
4772      pl            18289.097239
4773      pt            24461.189472
4774      ro            15004.654894
4775      ru            12667.967773
4777      sm            49871.802974
4779      rs             9567.869045
4786      es            30324.124511
4790      se            55283.108939
4791      ch            91255.331011
4793      tr            10275.511008
4795      ua             4274.990137
4796      gb            45032.173194
4798      no            86913.409029
4799      si            28275.510472

In [33]:
votes_df

,Unnamed: 0,year,round,from_country,to_country,total_points,tele_points,jury_points,from_capital,to_capital,distance
0,0,1957,final,at,nl,6,NaN,NaN,Vienna,Amsterdam,935.926496
1,1,1957,final,at,fr,0,NaN,NaN,Vienna,Paris,1036.040752
2,2,1957,final,at,dk,0,NaN,NaN,Vienna,København,871.969165
3,3,1957,final,at,lu,3,NaN,NaN,Vienna,Luxembourg,765.856559
4,4,1957,final,at,de,0,NaN,NaN,Vienna,Berlin,524.812724
...,...,...,...,...,...,...,...,...,...,...,...
51349,51349,2023,final,wld,al,6,6.0,NaN,NaN,Tirana,NaN
51350,51350,2023,final,wld,pt,0,0.0,NaN,NaN,Lisbon,NaN
51351,51351,2023,final,wld,rs,0,0.0,NaN,NaN,Belgrade,NaN
51352,51352,2023,final,wld,gb,0,0.0,NaN,NaN,London,NaN
51353,51353,2023,final,wld,de,0,0.0,NaN,NaN,Berlin,NaN

In [47]:
votes_with_gdp = votes_df.merge(filtered_gdp_per_capita, how="left", left_on="to_country", right_on="country")
# Adjust display options
pd.set_option('display.max_rows', 100)   # Show up to 100 rows
pd.set_option('display.max_columns', 50)
votes_with_gdp[votes_with_gdp["from_country"] == "de"]

,Unnamed: 0,year,round,from_country,to_country,total_points,tele_points,jury_points,from_capital,to_capital,distance,country,average gdp per capita
40,40,1957,final,de,nl,1,NaN,NaN,Berlin,Amsterdam,576.965942,nl,58172.028219
41,41,1957,final,de,fr,6,NaN,NaN,Berlin,Paris,879.117320,fr,41815.398376
42,42,1957,final,de,dk,0,NaN,NaN,Berlin,København,355.611123,dk,65332.587659
43,43,1957,final,de,lu,0,NaN,NaN,Berlin,Luxembourg,603.339626,lu,123405.563253
44,44,1957,final,de,de,0,NaN,NaN,Berlin,Berlin,0.000000,de,50259.725386
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50751,50751,2023,final,de,al,8,8.0,0.0,Berlin,Tirana,1333.628210,al,6533.217485
50752,50752,2023,final,de,pt,0,0.0,0.0,Berlin,Lisbon,2306.345222,pt,24461.189472
50753,50753,2023,final,de,rs,3,0.0,3.0,Berlin,Belgrade,1000.174032,rs,9567.869045
50754,50754,2023,final,de,gb,0,0.0,0.0,Berlin,London,933.332847,gb,45032.173194
50755,50755,2023,final,de,de,0,0.0,0.0,Berlin,Berlin,0.000000,de,50259.725386

In [ ]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [28]:
vote_dists = merged_votes.merge(distance_stack, left_on=["from_capital", "to_capital"], right_on=["from", "to"], how="left")
vote_dists = vote_dists.drop(["from", "to"], axis=1)
vote_dists

,year,round,from_country,to_country,total_points,tele_points,jury_points,from_capital,to_capital,distance
0,1957,final,at,nl,6,NaN,NaN,Vienna,Amsterdam,935.926496
1,1957,final,at,fr,0,NaN,NaN,Vienna,Paris,1036.040752
2,1957,final,at,dk,0,NaN,NaN,Vienna,København,871.969165
3,1957,final,at,lu,3,NaN,NaN,Vienna,Luxembourg,765.856559
4,1957,final,at,de,0,NaN,NaN,Vienna,Berlin,524.812724
...,...,...,...,...,...,...,...,...,...,...
51349,2023,final,wld,al,6,6.0,NaN,NaN,Tirana,NaN
51350,2023,final,wld,pt,0,0.0,NaN,NaN,Lisbon,NaN
51351,2023,final,wld,rs,0,0.0,NaN,NaN,Belgrade,NaN
51352,2023,final,wld,gb,0,0.0,NaN,NaN,London,NaN
51353,2023,final,wld,de,0,0.0,NaN,NaN,Berlin,NaN

In [29]:
vote_dists.to_csv("data/vote_distances.csv")